.main-header {
    padding: 0 20px;
    border-bottom: .5px solid rgba($black, .2);
    .navbar-top {
        padding: 10px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .google-title {
            display: flex;
            align-items: flex-end;
            h3 {
                font-size: 22px;
                font-weight: 400;
                color: $color-secondary;
            }
            img {
                margin-right: 5px;
            }
        }
    }
    .navbar-bottom {
        ul {
            display: flex;
            color: $color-secondary;
            li {
                margin-right: 40px;
                a {
                    color: $color-secondary;
                    padding: 10px 0;
                }
            }
            li.active a {
                color: $color-action;
            }
        }
    }
}